<%provide(:about_active, 'active') %>
<h1>Σχετικά</h1>
<h6>Η διαδικτυακή εφαρμογή UnipiBlog κατασκευάστηκε 
για τις ανάγκες της μεταπτυχιακής διατριβής:
<p><b>
<i><h6>Ασφάλεια διαδικτυακών εφαρμογών με χρήση του προγραμματιστικού πλαισίου Ruby on Rails</h6></i>
</b> </p>
<p><h6>από τον μεταπτυχιακό φοιτητή Μάλαμα Βαγγέλη για το τμήμα Πληροφορικής του ΠΑΠΕΙ</h6></p>
</h6>